.widget_tag_cloud {
	a {
		padding: 4px 15px;
		color: $secondary;
		margin: 3px ;
		display: inline-block;
		background-color: #eee;
		font-size: 14px!important;
	    &:hover {
	       background: $primary;
	       color: $white;
	    }  
	}
}
