.widget-area .textwidget {
	select {
		padding: 5px 10px;
		background-color: transparent;
		border: 1px solid $c1;
	}
}

.site-footer .widget_text {
	a {
		display: block;
		padding: 5px;
		background-color: $primary;
		color: $white;
		text-align: center;
		margin: 15px 0px;
		&:hover {
			background-color: $secondary;
		}
	}
}

.wp-caption .wp-caption-text {
	margin: 0;
}