/* Common to blog home page and blog page */
   
.hentry.sticky {
	color: $white;
	padding: 25px !important;
	padding-bottom:50px !important;
	@include border-radius(5px);
	position: relative;
	margin-bottom: 70px !important;
	background-color: $primary;
   
	.magazine-slider-top-meta {
	    border-top-color: rgba($white,0.2);
	    border-bottom-color: rgba($white,0.2);
         span,i,a {
         	color: $white;
         	&:hover {
         		color: $secondary;
         	}
         }
	}

	.entry-title { 
		a {
	 		color: $white;
	 		&:hover {
	 			color: $secondary;    
	 		}	
	 	}
	 }
	 .entry-content {
	    color: $white;
	 	ul {
	 		li{
	 			list-style:square;
	 		}
	 	}
	 	p {
	 	   color: $white;
	 	}
	 }
	 a {
	 	color: $secondary;

	 	&:hover {
	 		color: $white;
	 	}
	}

	span i {
		color: $c2;

	}
	span:hover {
		i,a{
			color: $secondary;
		}
	}

	code {
	 	color: $black;  
	}
	
	
}

.hentry.post {
	
	h1 a {
		color: $black;
		&:hover {
			color: $primary;
		}
	}
}

.byline,
.updated:not(.published){}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	margin: 0 0 1.5em;
	padding: 12px;
	text-align: center;  
	color: $white;
	background-color: $primary;
	display: inline-block;
	a {
		padding: 5px 10px;
		//color: $secondary;
		&:hover {
			color: $c1;
		}
	}
}

blockquote,q {
	position: relative;
	margin: 0;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 30px;  
	@include font-size(2);
	font-family: $heading_font;
	padding: 1% 10px 1% 40px;
	border-radius: 3px;

	&:before {
		position: absolute;
		content: "\f10d";
		@include font-size(2.5);
		font-family: 'FontAwesome';
		left: 20px;
		top: calc(1% + 25px );
		color: $c2;	
	}	

	p {
		margin-bottom: 0;
		@include font-size(2);
		padding: 20px;
		color: $c2;
		position: relative;
	
		cite {
			font-style: normal;
			text-transform: uppercase;
			color: $white;
		}
		a, a:visited {
			color: $white;
			@include font-size(1.4);
		}

		a:hover {
			color: $c2;
		}
	}
}

.related-posts {
	padding: 20px 0;
	ul#magzen-related-posts {
		list-style-type: none;
		margin: 0;
		li {
			width: 18%;
			float: left;
			margin: 1%;
			line-height: normal;
			a {
				line-height: normal;
			}
		}
	}
}


.hentry.sticky {
    .entry-meta,
	.entry-footer {
		background : none;
		padding: 0;
	}
	.entry-footer,
	.entry-meta {
		margin-bottom: 0;
	 	border: 0;
	 	a {
	 		color: $c2;
	 		&:hover {
	 			color: $secondary;
	 		}
	 	}
	 }

}

.post .magazine-post-wrapper {
	margin-bottom: 20px;
}
  
.magazine-post-wrapper.horizontal {
	h4.entry-title {
		margin-top:-10px;
	}
	.magazine-slider-top-meta {
		font-size: 13px;
		padding: 5px;
	}
	.magazine-content {
		@include font-size(1.6);
	}
}

.widget_magzen-featured-post-widget {    
    div:last-child .magazine-post-wrapper.horizontal {
       border-bottom: none;
    }
    div:nth-of-type(2n-1) .magazine-post-wrapper.vertical {
        margin-left:0; 
    }
    div:nth-of-type(2n) .magazine-post-wrapper.vertical {
        margin-right:0;
    }
    .eight:nth-of-type(2n+1) {
    	clear: both;
    	margin-left:0;
    	margin-right: 2%;
    } 
    .eight:nth-of-type(2n) {
        margin-right:0;
        margin-left: 2%;
    }
}  

.magazine-post-wrapper {  
	position: relative;
	margin-bottom: 50px;
	.image-date {
	    display: none;
		position: absolute;
		top:0;
		color: $white;
		left:0;
		background-color: $primary;
		padding: 0 18px 8px 18px;
		font-weight:700;
		a {
			color: $white;
			text-transform: uppercase;
			@include font-size(2.5);
			span {
				display: block;
				@include font-size(1.2);
				margin-top: -7px;
			}
		}
	}
	.image-date.horizontal-date {
	    padding: 0px 10px;
		a {
          @include font-size(1.4);
          span {
          	@include font-size(1.2);
          }
		}
	}
	h4.entry-title {
		color: $secondary;
		font-weight: 400;
		margin-top: 15px;
		&:hover {
			color: $primary;
		}
	}
	.magazine-content {
		@include font-size(1.8);
	}
	.image-date.post-date {
	    display: none;
	}
    .magazine-slider-top-meta.img-post-date { 
		.date-structure {
			display: none;  
		}
	}
	.magazine-image {
		a,img {
			display: block;
		}  
	}
}

.horizontal-image {
	margin-left:0;
	margin-right: 2%;
}

.magazine-post-wrapper.magzen-horizontal-one {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $c1;
}

.magazine-post-wrapper.magzen-vertical-one { 	
    .magazine-slider-top-meta.img-post-date { 
		.date-structure {
			display: inline-block;  
		}
	}
}

.magazine-post-wrapper.magzen-vertical-two { 	
	.image-date.img-post-date {
        display: block;
	}
	.magazine-slider-top-meta.img-post-date { 
		.date-structure {
			display: none;  
		}
	}
	
} 

.magazine-post-wrapper.vertical {
	//margin: 10px;
	h4.entry-title {
	   margin-top: 15px;
	}
} 

.magazine-slider-top-meta {  
    margin: 5px 0px 18px 0px;
    border-top: 1px solid $c3;
    border-bottom: 1px solid $c3;
	position: relative;
	padding: 7px;
	font-size: 14px;
    .date-structure {
		display: inline-block;
		text-align: center;
		.dd {
			color: $c2;
		}
	}
	span {
		margin: 0 25px 0 0;
		

		span {
			margin: 0;
		}

		i {
			color: $c2;
			padding-right: 5px;
		}

		a {
			color: $c2;
		}
		&:hover {
			i {
				color: $primary;			
			}
			a {
				color: $primary;
			}
		}
	}
}



/* Read more */
.portfolio-readmore {
    a {
    	padding: 8px 20px;
        background-color: $c1;
        color: $secondary;
        &:hover {
        	background-color: $primary;
        	color: $white;
        }
    }

}

/* Blog page */

.blog {
	.sticky {
		
	}

	.entry-title a {
		font-weight: 700;
		color: $secondary;
		&:hover {
			color: $primary;
		}
	}
}

/* Gutenberg CSS style */


#primary ul {
	list-style-type: disc;
}
.wp-block-latest-posts.aligncenter {
	margin-left:3em;
}
.wp-block-verse {
	color: $c3;	
}
.wp-block-quote {
	border-left: 4px solid black;
	padding-left:5px;
	margin-top: 0px;
	padding-top: 0px;
	&:before {
		content:"";
		border: 0px;
	}
	cite {
		margin: 0px;
		padding-left: 20px;
	}
}

.wp-block-quote.is-large {
	border: 0px;
	color:$secondary;	
	cite {
		text-align: right;
		display: block;
		color: #333;
		font-style: italic;
		padding-right: 20px;
	}
}

.wp-block-pullquote {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 0px;
	padding-bottom: 10px;
	margin: 0 auto;	
	border-left:none !important;
	margin-bottom:20px;
	&:before {
		content:"";
		border: 0px;
	}
}
.wp-block-pullquote.alignleft {
	margin-right: 25px;
}
.wp-block-pullquote.alignright {
	margin-left: 25px;
}

.wp-block-button {
	a {
		&:hover {
			padding: 11px 24px;
			box-shadow: 3px 3px black;
			-webkit-box-shadow: 3px 3px black;
		}
	}
}

.wp-block-cover-image {
	display:flex;
}

.wp-block-audio {
	text-align:center;
}

.wp-block-button.aligncenter {
	margin-bottom:1.5em;
}

.wp-block-table {
	tr:first-child td, tr:first-child th {
		border-top:1px solid $c1;
	}
}